#--------------------------------------------------------------------
# Example Environment Configuration file for CodeIgniter 4
# Copy this file to .env and configure your database settings.
#--------------------------------------------------------------------

# ENVIRONMENT
CI_ENVIRONMENT = development

# APP
# app.baseURL = 'http://localhost:8080/'
# app.forceGlobalSecureRequests = false
# app.CSPEnabled = false

# DATABASE
database.default.hostname = localhost
database.default.database = civildesk_db
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.port = 3306
database.default.DBPrefix =

# ENCRYPTION
# encryption.key =
